frontend/node_modules
frontend/scrRecords/*.pdf
frontend/*.log
frontend/.DS_Store
frontend/*.xlsx
frontend/backups/*.xlsx

.venv
.DS_Store
backend/.DS_Store
backend/*.log
backend/__pycache__
backend/.venv
backend/venv
backend/.env
backend/WrittenDockets/*.png
backend/print_spool
backend/print_spool/*
backend/train/
backend/*.json
backend/app/__pycache__
backend/app/routers/__pycache__
backend/app/models/__pycache__
backend/app/schemas/__pycache__

.vscode
*.pyc

postgres_data/