frontend/node_modules
frontend/scrRecords/*.pdf
frontend/*.log
frontend/.DS_Store
frontend/*.xlsx
frontend/backups/*.xlsx

.venv
.DS_Store
backend/.DS_Store
backend/*.log
backend/__pycache__
backend/.venv
backend/venv
backend/.env
backend/WrittenDockets/*.png
backend/train/
backend/*.json

.vscode