version: '3.8'

services:
  backend:
    build: .
    volumes:
      - .:/app  # Maps your local folder to the container so changes update instantly
    ports:
      - "8000:8000"
    environment:
      - WATCHFILES_FORCE_POLLING=true # Helps file watching work better in Docker