<!DOCTYPE html>
<html>
<head>
    <style>
        {{css_content}}
    </style>
</head>
<body>
    <div class="header">
        <div>
            <div class="title">TAX INVOICE</div>
        </div>
        <div class="meta">
            ID#: {{ invoice.scrinv_number }}<br>
            Date: {{ invoice.invoice_date }}<br>
        </div>
    </div>
    <div class="payment-div">
        <a class="label">Payment Advice</a>
        
        <table class="payment-table">
            <tbody>
                <tr>
                    <td>Bank:</td>
                    <td>{{ invoice.bank_name }}</td>
                </tr>
                <tr>
                    <td>Account Name:</td>
                    <td>{{ invoice.account_name }}</td>
                </tr>
                <tr>
                    <td>BSB:</td>
                    <td>{{ invoice.bsb }}</td>
                </tr>
                <tr>
                    <td>Account Number:</td>
                    <td>{{ invoice.account_number }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>