@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Schoolbell&family=Sono:wght@200..800&display=swap');
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
}